*{
    font-family: 'Francois One','Khmer OS Battambang'; 
}

.text-center{
    font-size: 40px;
    font-weight: bold;
}

.form-input{
    border: 2px solid black;
    margin: 10px;
}

#btn-submit, .arrange{
    margin: 10px;
}

.table-container{
    width: 100%;
    height: 200px;
    overflow: auto;
}

hr { display: block; height: 1px;
    border: 0; border-top: 2px solid black;
    margin: 1em 0; padding: 0; }

.btn-export{
    margin-left: 10px;
}

.table{
    width: 98%;
    margin: 10px;
}

.highlight {
	background-color: cyan;
}

/* th{
    text-align: center;
} */
